/* app css stylesheet */

body {
  background: #333333;
  font-size: 0.8em;
}

div#menu {
  width:15%;
  min-width: 192px;
  position:fixed;
}

div#content {
  float:left;
  width:85%;
  margin-left:15%;
}

ul {
  list-style: none;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
  margin-bottom: 2em;
  padding: 1em 0 1em 1em;
  margin-left:1em;
}

ul li {
  padding-bottom:0.4em;
  color:#8c8c8c;
}

ul li a{
  padding-left:0.5em;
}

a:link, a:hover, a:visited{
  color:#CCCCCC;
  text-decoration: none;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#authorWebsiteLink {
  position:fixed;
  bottom:0px;
  right:0px;
  padding:10px 16px 10px 10px;
  background: #CCCCCC;
  border: 1px grey solid;
}

#authorWebsiteLink a {
  color: #222222;
}