<div>
    <div style="{{story.styles.divContainer}}">
        <div id="storyHeader">
            <h1 style="{{story.title.style}}">{{ story.title.displayTitle }}</h1>
            <hr style="{{story.styles.separator}}"/>
            <br />
        </div>
        <div>
            <div ng-repeat="item in story.items">
                <div ng-if="item.type == 'simplePicture'">
                    <img ng-if="item.type == 'simplePicture'" ng-src="{{item.value}}" style="{{item.style}}" />
                </div>
                <p ng-if="item.caption" ng-bind-html="item.caption.value" style="{{item.caption.style}}"></p>
                <p ng-if="item.type == 'text'" ng-bind-html="item.value" style="{{item.style}}"></p>
                <div ng-if="item.type == 'separator'" style="{{item.style}}" />
            </div>
        </div>
    </div>
    <div id="authorWebsiteLink">© <a href="{{story.authorWebsite}}">{{story.authorWebsite}}</a></div>
</div>